@import "tailwindcss";
*{
  box-sizing: border-box;
}
@theme {
--color-azul:#1f4dff;
--color-azul-hover:#173de0;
}



@layer components {
  .container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }}