@import "tailwindcss";
*{
  box-sizing: border-box;
}
@theme {
--color-azul:#1f4dff;
--color-azul-hover:#173de0;
}



@layer components {
  .container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }
  .buttonFiltro{
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
  }
  .active{
    background-color: #1f4dff;
    color: white;
  }
  .desable{
    border: 1px solid black;
    color: black;
  }
}